body {
    background-color: rgb(235, 235, 235);
}
.city {
    margin-right: 30vw;
}
.dragon {
    width: 23vw;
    height: 18vw;
}
.form {
    margin-left: 25%;
}
.homeimage {
    height: 35vw;
}
.homeForm {
    background-color: rgb(221, 221, 221);
}
.info {
    margin-left: 2vh;
}
.left {
    
    float: left;
}

.myOrder {
    text-align: center;
}
.order {
    margin-right: 30%;
}
.price {
    width: 20%;
}
.right {
    float: right;
}
.submit {
    width: 50%;
    margin-left: 25%;
}
.sushi-card {
    width: 30vw;
    position: absolute;
}
.total {
    margin-left: 30%;
}
.totalBalance {
    bottom: 3vh;
}
.totalOrder {
    position: fixed;
    float: right;
    bottom: 10      vh;
    right: 0;
    margin-top: 9vw;
    padding-top: 1vw;
    height: 18.5vw;
}