.dragon {
    width: 30vw;
    height: 25vw;
}
.homeimage {
    height: 35vw;
}
.myOrder {
    text-align: center;
}
.order {
    margin-right: 30%;
}
.price {
    width: 20%;
}
.sushi-card {
    width: 30vw;
    position: absolute;
}