body {
    background-color: rgb(230, 178, 162);
}
.city {
    margin-right: 30vw;
}
.dragon {
    width: 23vw;
    height: 18vw;
}
.form {
    margin-left: 25%;
}
.homeimage {
    height: 35vw;
}
.info {
    text-align: left;
}
.left {
    float: left;
}
.myOrder {
    text-align: center;
}
.order {
    margin-right: 30%;
}
.price {
    width: 20%;
}
.right {
    float: right;
}
.submit {
    width: 50%;
}
.sushi-card {
    width: 30vw;
    position: absolute;
}
.total {
    margin-left: 30%;
}
.totalOrder {
    height: 20vw;
}